body {
  margin:  5px 5%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  margin-bottom: 20px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
