.article {
  margin: 0 auto;
  @media screen and (min-wdith: 375px) {
    margin-bottom: 15px;
  }
  width: 100%;
  &--content {
    background-color: white;
    border: 1px solid #666;
    @media only screen and (min-width: 375px) {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding-bottom: 30px;
      margin: 0 0 1rem;
    }
    @media screen and (min-width: 830px) {
      box-sizing: border-box;
      width: 32%;
      height: 355px;
      margin-left: 2%;
      display: inline-block;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
    padding: 3%;
    box-shadow: $box-shadow;
  }
  &--headline {
    font-weight: 300;
    line-height: 0.95;
  }
  &--date {
    font-size: 0.85rem;
    color: #bbb;
  }
  &--read-more {
    a {
      text-decoration: none;
      color: #B4282F;
      font-weight: bold;
    }
  }

}
