@mixin contact--connect-navbar--icon {
  & {
    text-align: center;
    width: 35px;
    height: 29px;
    color: #aeaeae;
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding-top: 6px;
  }
}
.contact {
  background-color: white;
  padding-top: 20px;
  margin: 15px auto;
  box-shadow: $box-shadow;
  &--left {
    @media screen and (min-width: 800px) {
      display: inline-block;
      float: left;
      width: 50%;
    }
    width: 100%;
    display: none;
    margin: 0 5% auto 2.5%;
    line-height: 1.5;
    h2 {
      font-weight: 300;
    }
    .contact--connect-navbar {
      display: none;
      @media screen and (min-width: 800px) {
        display: block;
        height: 30px;
        float: left;
        .facebook {
          @include contact--connect-navbar--icon;
          background-color: #4f4f4f;
        }
        .rss {
          @include contact--connect-navbar--icon;
          color: #aaa;
          background-color: #666;
        }
        .twitter {
          @include contact--connect-navbar--icon;
          background-color: #7a7a7a;
        }
        .youtube {
          @include contact--connect-navbar--icon;
          background-color: #757575;
        }
      }
    }
  }
  &--right {
    margin: auto 2.5% auto 0;
    @media screen and (min-width: 800px) {
      width: 39%;
      float: left;
    }
    .contact--headline--small{
      display: block;
      width: 80%;
      text-align: center;
      margin: 15px auto;
      font-weight: 400;
      font-size: 1.2rem;
      @media screen and (min-width: 460px) {
      font-size: 1.4rem;
    }
      @media screen and (min-width: 800px) {
      display: none;
    }
    }
    form {
      width: 80%;
      margin: 0 auto;
    }
    .form-item {
      margin: 20px auto;
      input,
      textarea {
        font-size: 1.1rem;
        line-height: 2;
        width: 100%;
        display: inline-block;
        border: 1px solid #aaa;
        box-shadow: inset 3px 3px rgba(192, 192, 192, 0.7);
        resize: none;
      }
    }
    .form-submit {
      text-align: center;
      @media screen and (min-width: 800px) {
        width: 50%;
      }
      width: 30%;
      margin-right: 10%;
      height: 30px;
      color: white;
      padding-top: 15px;
      background-color: #B4282F;
      float: right;
      margin-bottom: 30px;
      a {
        text-decoration: none;
        color: white;
        font-weight: 200;
      }
    }
  }
}
