@mixin icon {
  & {
    font-size: 2.5rem;
    text-align: center;
    width: 70px;
    height: 55px;
    color: #aaa;
    display: inline-block;
    float: right;
    padding-top: 10px;
    margin-left: 15px;
    box-shadow: $box-shadow;
    }

}

.connect-navbar {
  clear: both;
  height: 75px;

  .youtube {
    @include icon;
    background-color:#B2382D;
  }
  .twitter {
    @include icon;
    background-color:#6A8DC7;
  }
  .rss {
    @include icon;
    background-color: #cc8f32;
  }

  .facebook{
    @include icon;
    background-color: #455696;
  }
}
