@mixin small-image{
  box-sizing: border-box;
  display: inline-block;
  width: 47%;
  height: 216px;
  border: 5px solid white;
  padding-top: 10%;
  margin-right: 3%;
  margin-bottom: 20px;
  box-shadow: $box-shadow;

}

@mixin wide-image{
  box-sizing: border-box;
  display: inline-block;
  width: 97%;
  height:216px;
  border: 5px solid white;
  padding-top: 10%;
  margin-right: 3%;
  box-shadow: $box-shadow;
}

@mixin tall-image{
  box-sizing: border-box;
  padding-top: 10%;
  display: inline-block;
  width: 100%;
  height: 452px;
  border: 5px solid white;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
}
.gallery {
  display: none;
  @media screen and (min-width: 600px){
    display: block;
  color: white;
  font-weight:600;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 800px) {
    font-size: 2.75rem;
  }

  &--left {
    display: inline-block;
    float: left;
    width: 68%
  }
  &--item1{
    @include small-image;
    float: left;
    background: url("../images/sk8er-4.png");
    background-position: right;
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }
  &--item2{
    @include small-image;
    background: url('../images/sk8er-3.png');
    float: left;
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }
  &--item3{
    @include wide-image;
    background: url('../images/sk8er-1.png');
    background-position: center;
    float: left;
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }
  }
  &--right{
    display: inline-block;
    width: 32%;
    float: left;
  }
  &--item4{
    background: url('../images/sk8er-2.png');
    background-position: 80% 0;

    @media screen and (min-width: 600px) {
      @include tall-image;
      float: right;
    }

    }


  }
}
  .skaterName{
    @media screen and (max-width: 375px)  {
    font-size: 1.25rem;
  }
    @media screen and (min-width:680px){
      font-size: 2rem;
    }
  }
