.site-navbar {
  width: 100%;
  text-align: center;


  .navicon{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 24%;
    height: 30px;
    color: white;
    margin: 15px .75% 20px 0;
    padding-top:15px;
    text-transform: uppercase;
    background-color: #B4282F;
    box-shadow: $box-shadow;

    &--text {
      font-weight:600;
      padding: 0 .5%;
      display: block;
    }
    &--text span {
      text-align: justify;
      font-weight: 200;
      padding: 0 .5%;
    }
  }
}

.navicon:nth-child(4) {
  margin-right: 0;
}
